---
---

<section id="projects" class="h-auto w-auto flex flex-col lg:mt-14">

 <div class="font-display lg:text-5xl md:text-3xl text-2xl mt-20 text-center">
    <h1 class="lines"> PRO<span class="lines underline-offset-8 lg:decoration-8 decoration-4 decoration-solid decoration-[#9162B3] underline">JECTS</span> </h1>
</div>



    <div class="grid lg:grid-cols-2 grid-col-1 lg:gap-16 lg:mx-16 mx-7 gap-10 mt-14 md:mx-14">
    
      <!-- Project Card 1 -->
    <div class= "proj shades bg-gradient-to-b from-slate-100 via-[#724591]-300 to-[#724591] p-7 rounded-xl transition-transform transform hover:scale-105">
    <img
        src="/project1.png"
        alt="Home Grown"
        class="w-full lg:h-2/5 overflow-hidden rounded-xl shadow-xl"
    />
    <div class="bg bg-white rounded-xl lg:h-1/2 overflow-hidden lg:mt-5 mt-5 md:mt-5">
    <h2 class="lg:text-xl text-lg font-extrabold font-display text-center lg:pt-5 pt-5 text-black">Home Grown</h2>
    <p class="mt-2 font-display lg:p-8 p-5 lg:text-md text-sm"> 
      For our final 4-week scrum project during the School of Code bootcamp, our team chose to address the issue of high living costs by creating an application that enables users to share their unused green space for sustainable farming. Additionally, our app allows users to discover nearby green spaces where they can volunteer their time and contribute to local farming efforts. To enhance the user experience, our application also features a blog that provides valuable insights, tips, and information related to urban agriculture.

      As a project team member, I took on front-end development tasks to gain a comprehensive understanding. Leveraging technologies such as React and Next.js, I contributed to the technical foundation of the project, further enhancing its functionality and user experience. I also played a pivotal role in the design aspect, providing ideas and insights.

      In my role as the final-week project manager, I utilized my past leadership experience to motivate and guide the team towards delivering a fully functional MVP, and we successfully completed it within the timeline, exceeding expectations.     
    </p>
    <h2 class="lg:text-xl text-lg font-extrabold font-display text-center text-black"> Tech Stack: </h2>
    <p class="text-center font-display p-5 lg:text-lg text-sm lg:mb-5"> 
      Next.js - Firebase - CSS - Cypress - Jest - Vercel - Express.js - Node.js - PostgreSQL
    </p>
    </div>
    <div class="flex lg:gap-5 justify-center mt-6 mb-5"> 
      
    <a href="https://github.com/MarwaDawood/bc13_final-project_front-end-maccaw.git" class="probutton inline-block lg:px-4 px-2 py-1 lg:py-3 cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom lg:text-2xl text-md" 
    target="_blank" rel="noreferrer"> Source Code </a>

    <a href="https://home-grown.vercel.app/" target="_blank" rel="noreferrer" class="probutton inline-block lg:px-4 lg:py-3 px-2 py-1 lg:text-2xl text-md cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> See Live </a>
    </div>
    </div>



    <!-- Project Card 2 -->
    <div class= "proj shades bg-gradient-to-b  from-slate-100 via-[#724591]-300 to-[#724591] p-7 rounded-xl shadow-white shadow-md transition-transform transform hover:scale-105">
      <img
        src="/project3.png"
        alt="Karen Arthur - Life Coach"
        class="w-full lg:h-2/5 overflow-hidden rounded-xl shadow-xl"
     />
     <div class="bg bg-white rounded-xl lg:h-1/2 overflow-hidden lg:mt-5 mt-5 md:mt-5">
     <h2 class="lg:text-xl text-lg font-extrabold font-display text-center lg:pt-5 pt-5 text-black">Karen Arthur - Life Coach</h2>
     <p class="mt-2 font-display p-5 lg:text-md text-sm lg:p-8">
       I collaborated closely with a team of six through pair programming to collectively redesign a website using Figma designs, aiming to give it a more contemporary and polished appearance. I gained valuable experience working in a team for a real client in a real-life situation with a timeline.

      This included implementing Astro and integrating Tailwind CSS for responsive design, tools I had no prior experience with. However, I quickly familiarized myself with their documentation and advantages, enabling me to gain proficiency in effectively using both tools for the project.

      I successfully created captivating animations for the website, enhancing its overall appeal and adding an engaging visual element. Additionally, through effective communication, teamwork, and pair programming, we successfully met the timeline and exceeded both the client's and managers' expectations. Max, Ed, and the client expressed satisfaction with the outcome. The site is set to be launched in January 2024.
      </p>
      <h2 class="lg:text-xl text-lg font-extrabold font-display text-center text-black"> Tech Stack: </h2>
      <p class="text-center font-display p-5 lg:text-lg text-sm lg:mb-5"> 
        Astro - TailwindCSS - JavaScript - Animation - UI/UX
      </p>
      </div>
      <div class="flex lg:gap-5 justify-center mt-6 mb-5"> 
      <a href="https://github.com/developedbyed/tasty-transit" class="probutton inline-block lg:px-4 px-2 py-1 lg:py-3 cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom lg:text-2xl text-md" 
      target="_blank" rel="noreferrer"> Source Code </a>

      <a href="https://github.com/developedbyed/tasty-transit" target="_blank" rel="noreferrer" class="probutton inline-block lg:px-4 lg:py-3 px-2 py-1 lg:text-2xl text-md cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> Live: 2024 </a>
      </div>
      </div>



    <!-- Project Card 3 -->
    <div class= "proj shades bg-gradient-to-b  from-slate-100 via-[#724591]-300 to-[#724591] p-7 rounded-xl shadow-white shadow-md transition-transform transform hover:scale-105">
    <img
        src="/project4.png"
        alt="Personal Website"
        class="w-full lg:h-2/5 overflow-hidden rounded-xl shadow-xl"
    />
    <div class="bg bg-white rounded-xl lg:h-1/2 overflow-hidden lg:mt-5 mt-5 md:mt-5">
    <h2 class="lg:text-xl text-lg font-extrabold font-display text-center lg:pt-5 pt-5 text-black">Personal Website/Portfolio</h2>
    <p class="mt-2 font-display p-5 lg:text-md text-sm lg:p-8">
          This marked my first venture into crafting my personal website/portfolio. Leveraging what I had learned at the School of Code, I designed my website using the Figma tool and brought it to life with Next.js.
           Thanks to Next.js, my website effortlessly adapts to different devices and screen sizes, ensuring a seamless experience for all visitors. Since I've revamped my website to what you see now when you are visiting. My website's latest version was built with Astro, a new tool I wanted to explore and compare to Next.js. Astro offers a fresh approach to web development, and I'm excited to see how it complements or differs from Next.js in terms of performance, user experience, and overall development process.
    </p>
    <h2 class="lg:text-xl text-lg font-extrabold font-display text-center text-black"> Tech Stack: </h2>
    <p class="text-center font-display p-5 lg:text-lg text-sm lg:mb-5">
       Next.js - CSS - Express.js - Node.js - React - Netlify
    </p>
    </div>
    <div class="flex lg:gap-5 justify-center mt-6 mb-5"> 
    <a href="https://github.com/MarwaDawood/PersonalWebsite1.0" class="probutton inline-block lg:px-4 px-2 py-1 lg:py-3 cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom lg:text-2xl text-md" 
    target="_blank" rel="noreferrer"> Source Code </a>

    <a href="https://marwa-dawood.com/" target="_blank" rel="noreferrer" class="probutton inline-block lg:px-4 lg:py-3 px-2 py-1 lg:text-2xl text-md cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> See Live </a>
    </div>
    </div>


    <!-- Project Card 4 -->
    <div class= "proj shades bg-gradient-to-b  from-slate-100 via-[#724591]-300 to-[#724591] p-7 rounded-xl transition-transform transform hover:scale-105">
    <img
        src="/project2.png"
        alt="Project Match"
        class="w-full lg:h-2/5 overflow-hidden rounded-xl shadow-xl"
    />
    <div class="bg bg-white rounded-xl lg:h-1/2 overflow-hidden lg:mt-5 mt-5 md:mt-5">
    <h2 class="lg:text-xl text-lg font-extrabold font-display text-center lg:pt-5 pt-5 text-black">Project Match</h2>
    <p class="mt-2 font-display p-5 lg:text-md text-sm lg:p-8">
            For a mini 1-week project at the School Of Code bootcamp, we embarked on our very first collaborative project, aiming to address a common challenge faced by coding bootcamp attendees - the sense of overwhelm when working on projects independently. To tackle this challenge, we conceptualized a social platform that fosters collaboration and networking among peers, providing a space for them to work on projects together.

            This project marked our first-time experience in working on a real-world project, and it turned out to be a resounding success. Leveraging what we had learned up until that point in our coding journey, we built the platform using React.

            Our platform aimed to alleviate isolation and overwhelm by connecting like-minded individuals, encouraging idea sharing, and collectively solving coding challenges. This experience not only showcased our technical skills but also reinforced our commitment to supporting each other as a close-knit cohort.
    </p>
    <h2 class="lg:text-xl text-lg font-extrabold font-display text-center text-black"> Tech Stack: </h2>
    <p class="text-center font-display p-5 lg:text-lg text-sm lg:mb-5"> 
       React.js - CSS - Express.js - Node.js - PostgreSQL - Netlify
    </p>
    </div>
    <div class="flex lg:gap-5 justify-center mt-6 mb-5"> 
    <a href="https://github.com/MarwaDawood/week-nine-front-end-project" class="probutton inline-block lg:px-4 px-2 py-1 lg:py-3 cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom lg:text-2xl text-md" 
    target="_blank" rel="noreferrer"> Source Code </a>

    <a href="https://project-match.netlify.app/" target="_blank" rel="noreferrer" class="probutton inline-block lg:px-4 lg:py-3 px-2 py-1 lg:text-2xl text-md cursor-pointer bg-white border border-white rounded-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> See Live </a>
    </div>
    </div>
 
 
   </div>
  </section>

<style>
 
  .shades {
        box-shadow: 5px 5px 4px rgba(5, 0, 40, 1);

  }


</style>