---

---


<section id="projects" class="w-auto flex-col mb-20 absolute">

 <div class="absolute font-display text-5xl flex w-full justify-center mt-10">
    <h1> PRO<span class="decoration-solid decoration-mainblue underline">JECTS</span> </h1>
</div>


    <div class="grid grid-cols-2 gap-16 mx-16 mt-32 relative">
    
      <!-- Project Card 1 -->
    <div class= "bg-gradient-to-b from-white via-mainblue-500 to-mainblue p-4 rounded-lg shadow-md container">
    <img
        src="./project1.png"
        alt="Home Grown"
        class="w-full h-1/3 overflow-hidden rounded-md"
    />
    <div class="bg-white rounded-xl h-[55%]">
    <h2 class="text-2xl font-extrabold font-display text-center mt-5 pt-5 text-mainblue">Home Grown</h2>
    <p class="mt-2 font-display p-5 text-lg">
       For our final 4-week scrum project in a team of 6 for the School of Code bootcamp, we were tasked with creating an application that would address a current real-life problem. Our team chose to tackle the issues of high cost of living and lack of community cohesion. Our solution was to create an application that allows users to share their unused green space for growing food, thus promoting sustainable farming practices in urban areas. In addition, our app allows users to search for nearby green spaces where they can volunteer their time and contribute to local farming efforts. To enhance the user experience, our application also includes a blog that provides valuable insights, tips, and information related to urban agriculture.
    </p>
    <h2 class="text-xl font-extrabold font-display text-center text-mainblue"> Tech Stack: </h2>
    <p class="text-center font-display p-5"> 
      Next.js - Firebase -     CSS - Cypress - Jest - Render - Vercel - Express.js - Node.js - PostgreSQL
    </p>
    </div>
    <div class="flex gap-5 justify-center mt-5 mb-5"> 
    <a href="https://github.com/MarwaDawood/bc13_final-project_front-end-maccaw.git" class="inline-block px-3 py-2 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom text-2xl" 
    target="_blank" rel="noreferrer"> Source Code </a>
    <a href="https://home-grown.vercel.app/" target="_blank" rel="noreferrer" class="inline-block px-3 py-2 text-2xl text-accentColor4 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> See Live </a>
    </div>
    </div>



    <!-- Project Card 2 -->
    <div class= "bg-gradient-to-b from-white via-mainblue-500 to-mainblue p-4 rounded-lg shadow-md container">
      <img
        src="./project3.png"
        alt="Karen Arthur - Life Coach"
        class="w-full h-1/3 overflow-hidden rounded-md"
     />
     <div class="bg-white rounded-xl h-[55%]">
     <h2 class="text-2xl font-extrabold font-display text-center mt-5 pt-5 text-mainblue">Karen Arthur - Life Coach</h2>
     <p class="mt-2 font-display p-5 text-lg">
            Worked with a small team under the guidance of Max and Ed from developedbyed to revamp a clients website, aiming to give it a more contemporary and polished appearance. Tasked with creating the website using Astro and Tailwind CSS, tools I had no prior experience with. However, I quickly familiarised myself with their documentations and advantages, enabling me to gain proficiency in effectively using both tools for the project. Gained valuable experience working in a team for a real client in a real-life situation with a timeline. Through effective communication, teamwork, and pair programming, we successfully met the timeline and exceeded both client and managers expectations. Max, Ed, and the client expressed satisfaction with the outcome. Site to be launched in January 2024.
      </p>
      <h2 class="text-xl font-extrabold font-display text-center text-mainblue"> Tech Stack: </h2>
      <p class="text-center font-display p-5"> 
        Astro - TailwindCSS - JavaScript - Animation - UI/UX
      </p>
      </div>
      <div class="flex gap-5 justify-center mt-5 mb-5"> 
      <a href="https://github.com/developedbyed/tasty-transit" class="inline-block px-3 py-2 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom text-2xl" 
      target="_blank" rel="noreferrer"> Source Code </a>
      <a href="https://github.com/developedbyed/tasty-transit" target="_blank" rel="noreferrer" class="inline-block px-3 py-2 text-2xl text-accentColor4 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> Live: 2024 </a>
      </div>
      </div>



    <!-- Project Card 3 -->
    <div class= "bg-gradient-to-b from-white via-mainblue-500 to-mainblue p-4 rounded-lg shadow-md container">
    <img
        src="./project4.png"
        alt="Personal Website"
        class="w-full h-1/3 overflow-hidden rounded-md"
    />
    <div class="bg-white rounded-xl h-[55%]">
    <h2 class="text-2xl font-extrabold font-display text-center mt-5 pt-5 text-mainblue">Personal Website/Portfolio</h2>
    <p class="mt-2 font-display p-5 text-lg">
          This was my first attempt at creating my own personal website/portfolio.
    </p>
    <h2 class="text-xl font-extrabold font-display text-center text-mainblue"> Tech Stack: </h2>
    <p class="text-center font-display p-5">
       Next.js - CSS - Express.js - Node.js - React - Netlify
    </p>
    </div>
    <div class="flex gap-5 justify-center mt-5 mb-5"> 
    <a href="https://github.com/MarwaDawood/PersonalWebsite1.0" class="inline-block px-3 py-2 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom text-2xl" 
    target="_blank" rel="noreferrer"> Source Code </a>
    <a href="https://marwa-dawood.netlify.app/" target="_blank" rel="noreferrer" class="inline-block px-3 py-2 text-2xl text-accentColor4 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> See Live </a>
    </div>
    </div>


    <!-- Project Card 4 -->
    <div class= "bg-gradient-to-b from-white via-mainblue-500 to-mainblue p-4 rounded-lg shadow-md container">
    <img
        src="./project2.png"
        alt="Project Match"
        class="w-full h-1/3 overflow-hidden rounded-md"
    />
    <div class="bg-white rounded-xl h-[55%]">
    <h2 class="text-2xl font-extrabold font-display text-center mt-5 pt-5 text-mainblue">Project Match</h2>
    <p class="mt-2 font-display p-5 text-lg">
            For our mini 1-week project at the School Of Code bootcamp, we were tasked with developing an application that could improve the experience or resolve a challenge faced by a coding bootcamp attendee. Based on our discussions and the creation of user personas, we identified a common challenge encountered by most attendees - feeling overwhelmed when working on projects independently, especially as new entrants to the tech industry. As a solution, we conceptualized a social platform that fosters collaboration and networking among peers, providing an avenue for them to work on projects together.
    </p>
    <h2 class="text-xl font-extrabold font-display text-center text-mainblue"> Tech Stack: </h2>
    <p class="text-center font-display p-5"> 
       React.js - CSS - Express.js - Node.js - PostgreSQL - Netlify
    </p>
    </div>
    <div class="flex gap-5 justify-center mt-5 mb-5"> 
    <a href="https://github.com/MarwaDawood/week-nine-front-end-project" class="inline-block px-3 py-2 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-5 shadow-right-bottom text-2xl" 
    target="_blank" rel="noreferrer"> Source Code </a>
    <a href="https://project-match.netlify.app/" target="_blank" rel="noreferrer" class="inline-block px-3 py-2 text-2xl text-accentColor4 cursor-pointer bg-white border border-white rounded-md shadow-md transition-transform transform hover:scale-105 mx-4 shadow-right-bottom"> See Live </a>
    </div>
    </div>
 
 
   </div>
  </section>

<style>
  .shadow-right-bottom {
    box-shadow: 4px 4px 6px rgba(5, 0, 40, 1);
  },


  .container:hover {
    border-color: #4C77AB;
    background-color: transparent;
    box-shadow: 0 0 5px 5px rgba(76, 119, 171);
  }
  
</style>