---
---

<section id="about" class="h-screen w-auto flex-col mt-10 left-4">
           </div>

  
  
  <div class="gtkm absolute font-display text-5xl flex mt-14">
     <h1> GET <span class="decoration-solid decoration-mainblue underline"> TO KNOW ME </span> </h1>
          <div class="absolute flex flex-col gap-3 socials">
               <iconify-icon icon="mdi:email-outline" style="color: #4c77ab;" width="70" height="70" class="transition-transform transform hover:scale-105"></iconify-icon>
                <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:github" style="color: #4c77ab;" width="70" height="70" class="transition-transform transform hover:scale-105"></iconify-icon> </a>
               <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:linkedin" style="color: #4c77ab;" width="70" height="70" class="transition-transform transform hover:scale-105"></iconify-icon> </a>  
              
          </div>
  </div>






   <svg class="absolute h-screen mr-10 right-0" 
     viewBox="0 0 1950 1804" 
     xmlns="http://www.w3.org/2000/svg">
     <g filter="url(#filter0_f_85_372)">
          <path d="M480 1197.98L470 1198" stroke="#F4C849" stroke-width="3"/>
     </g>
<g filter="url(#filter1_f_85_372)">
<path d="M475 1203V1193" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter2_f_85_372)">
<path d="M556 1232.98L546 1233" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter3_f_85_372)">
<path d="M551 1238V1228" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter4_f_85_372)">
<path d="M480 1197.98L470 1198" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter5_f_85_372)">
<path d="M475 1203V1193" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter6_f_85_372)">
<path d="M556 1232.98L546 1233" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter7_f_85_372)">
<path d="M551 1238V1228" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter8_f_85_372)">
<path d="M262 1134.98L252 1135" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter9_f_85_372)">
<path d="M257 1140V1130" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter10_f_85_372)">
<path d="M210 1116.98L200 1117" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter11_f_85_372)">
<path d="M205 1122V1112" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter12_f_85_372)">
<path d="M272 999.976L262 1000" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter13_f_85_372)">
<path d="M267 1005V995" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter14_f_85_372)">
<path d="M523 1246.98L503 1247.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter15_f_85_372)">
<path d="M513 1258V1238" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter16_f_85_372)">
<path d="M475 1241.98L455 1242.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter17_f_85_372)">
<path d="M465 1253V1233" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter18_f_85_372)">
<path d="M533 1201.98L513 1202.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter19_f_85_372)">
<path d="M523 1213V1193" stroke="#F4C849" stroke-width="5"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M170.086 1142.83L171.636 1149.65L173.593 1156.37L175.956 1162.98L178.723 1169.46L181.888 1175.82L185.446 1182.03L189.389 1188.11L193.709 1194.03L198.395 1199.81L203.435 1205.42L208.815 1210.87L214.521 1216.16L220.537 1221.28L226.845 1226.23L233.428 1231.02L240.267 1235.64L247.345 1240.09L254.643 1244.38L262.143 1248.5L269.826 1252.47L277.674 1256.28L285.669 1259.94L293.793 1263.45L302.027 1266.82L310.354 1270.04L318.756 1273.14L327.217 1276.12L335.719 1278.97L344.248 1281.71L352.788 1284.35L361.323 1286.89L369.842 1289.34L378.331 1291.71L386.779 1294.01L395.176 1296.24L403.512 1298.41L411.779 1300.52L419.972 1302.58L428.084 1304.61L436.109 1306.6L444.041 1308.56L451.876 1310.49L459.609 1312.41L467.234 1314.32L474.747 1316.23L482.146 1318.15L489.427 1320.07L496.586 1322.01L503.622 1323.98L510.533 1325.97L517.318 1328L523.976 1330.08L530.508 1332.2L536.913 1334.38L543.193 1336.61L549.35 1338.91L555.387 1341.27L561.305 1343.71L567.108 1346.22L572.801 1348.81L578.388 1351.48L583.874 1354.23L589.263 1357.06L594.563 1359.98L599.779 1362.99L604.918 1366.08L609.988 1369.25L614.995 1372.51L619.947 1375.85L624.853 1379.27L629.721 1382.76L634.558 1386.32L639.375 1389.95L644.178 1393.64L648.978 1397.39L653.782 1401.19L658.6 1405.03L663.439 1408.91L668.309 1412.81L673.217 1416.74L678.171 1420.67L683.178 1424.61L688.247 1428.55L693.383 1432.47L698.594 1436.36L703.884 1440.22L709.26 1444.03L714.727 1447.79L720.288 1451.48L725.947 1455.11L731.708 1458.64L737.572 1462.09L743.543 1465.43L749.62 1468.67L755.805 1471.79L762.097 1474.78L768.496 1477.63L775.001 1480.35L781.609 1482.92L788.32 1485.34L795.129 1487.61L802.033 1489.71L809.029 1491.65L816.113 1493.42L823.28 1495.02L830.526 1496.46L837.844 1497.72L845.229 1498.81L852.677 1499.73L860.181 1500.48L867.736 1501.07L875.335 1501.5L882.973 1501.77L890.644 1501.89L898.342 1501.87L906.062 1501.7L913.798 1501.41L921.545 1501L929.299 1500.47L937.054 1499.85L944.808 1499.14L952.556 1498.35L960.297 1497.51L968.027 1496.61L975.746 1495.68L983.453 1494.72L991.147 1493.76L998.831 1492.8L1006.5 1491.85L1014.17 1490.93L1021.83 1490.06L1029.49 1489.23L1037.15 1488.47L1044.82 1487.77L1052.5 1487.15L1060.2 1486.61L1067.92 1486.15L1075.66 1485.79L1083.45 1485.52L1091.27 1485.35L1099.14 1485.28L1107.07 1485.3L1115.05 1485.43L1123.11 1485.66L1131.23 1485.98L1139.43 1486.41L1147.72 1486.94L1156.11 1487.56L1164.59 1488.27L1173.17 1489.07L1181.86 1489.95L1190.67 1490.92L1199.59 1491.95L1208.64 1493.05L1217.82 1494.2L1227.12 1495.41L1236.56 1496.65L1246.13 1497.93L1255.83 1499.23L1265.67 1500.53L1275.65 1501.84L1285.76 1503.13L1296 1504.4L1306.37 1505.63L1316.86 1506.81L1327.47 1507.93L1338.2 1508.97L1349.04 1509.93L1359.98 1510.78L1371.01 1511.51L1382.12 1512.11L1393.31 1512.57L1404.56 1512.87L1415.85 1513.01L1427.19 1512.96L1438.55 1512.72L1449.93 1512.27L1461.3 1511.61L1472.65 1510.71L1483.96 1509.59L1495.22 1508.21L1506.42 1506.58L1517.53 1504.69L1528.54 1502.52L1539.42 1500.08L1550.17 1497.36L1560.77 1494.35L1571.19 1491.05L1581.42 1487.46L1591.44 1483.58L1601.23 1479.4L1610.78 1474.92L1620.07 1470.15L1629.09 1465.09L1637.81 1459.75L1646.23 1454.12L1654.33 1448.21L1662.1 1442.03L1669.52 1435.59L1676.59 1428.89L1683.3 1421.94L1689.63 1414.76L1695.58 1407.35L1701.14 1399.72L1706.32 1391.89L1711.1 1383.87L1715.48 1375.67L1719.47 1367.31L1723.07 1358.8L1726.28 1350.15L1729.1 1341.39L1731.53 1332.52L1733.6 1323.55L1735.3 1314.52L1736.65 1305.42L1737.66 1296.28L1738.33 1287.11L1738.68 1277.91L1738.72 1268.72L1738.47 1259.52L1737.93 1250.35L1737.13 1241.2L1736.07 1232.1L1734.77 1223.05L1733.25 1214.05L1731.52 1205.13L1729.6 1196.28L1727.5 1187.52L1725.24 1178.85L1722.84 1170.28L1720.31 1161.81L1717.67 1153.45L1714.92 1145.2L1712.09 1137.07L1709.19 1129.06L1706.23 1121.16L1703.23 1113.39L1700.19 1105.74L1697.12 1098.22L1694.05 1090.81L1690.98 1083.54L1687.93 1076.38L1684.9 1069.35L1681.91 1062.44L1678.97 1055.64L1676.1 1048.97L1673.3 1042.41L1670.59 1035.96L1667.98 1029.62L1665.47 1023.39L1663.09 1017.26L1660.84 1011.23L1658.73 1005.29L1656.78 999.447L1654.99 993.685L1653.37 988.003L1651.93 982.396L1650.68 976.857L1649.63 971.38L1648.79 965.96L1648.16 960.59L1647.74 955.263L1647.55 949.974L1647.59 944.714L1647.87 939.477L1648.38 934.255L1649.14 929.043L1650.13 923.831L1651.38 918.614L1652.87 913.384L1654.61 908.134L1656.59 902.855L1658.83 897.542L1661.31 892.187L1664.03 886.784L1666.99 881.324L1670.19 875.802L1673.63 870.21L1677.29 864.543L1681.18 858.795L1685.29 852.958L1689.61 847.028L1694.13 840.998L1698.85 834.864L1703.77 828.621L1708.86 822.263L1714.12 815.787L1719.55 809.189L1725.13 802.464L1730.85 795.609L1736.7 788.621L1742.67 781.498L1748.75 774.237L1754.93 766.837L1761.19 759.295L1767.52 751.611L1773.91 743.784L1780.35 735.813L1786.83 727.698L1793.32 719.44L1799.82 711.04L1806.32 702.497L1812.81 693.814L1819.26 684.993L1825.67 676.034L1832.03 666.942L1838.32 657.717L1844.52 648.364L1850.64 638.885L1856.66 629.284L1862.56 619.565L1868.33 609.733L1873.96 599.791L1879.44 589.744L1884.76 579.597L1889.92 569.356L1894.89 559.024L1899.67 548.608L1904.25 538.114L1908.62 527.546L1912.78 516.91L1916.71 506.213L1920.4 495.46L1923.86 484.659L1927.07 473.816L1930.02 462.938L1932.7 452.032L1935.11 441.106L1937.25 430.167L1939.09 419.225L1940.63 408.289L1941.88 397.367L1942.8 386.47L1943.4 375.609L1943.67 364.795L1943.6 354.041L1943.18 343.358L1942.39 332.759L1941.24 322.256L1939.72 311.861L1937.81 301.586L1935.53 291.443L1932.85 281.444L1929.79 271.6L1926.33 261.923L1922.48 252.424L1918.24 243.113L1913.61 234.001L1908.58 225.099L1903.17 216.415L1897.36 207.959L1891.18 199.74L1884.62 191.767L1877.69 184.047L1870.39 176.588L1862.73 169.397L1854.72 162.481L1846.36 155.846L1837.67 149.497L1828.65 143.44L1819.32 137.68L1809.68 132.22L1799.74 127.064L1789.51 122.215L1779.01 117.676L1768.24 113.449L1757.22 109.534L1745.96 105.934L1734.48 102.648L1722.77 99.6769L1710.87 97.0191L1698.77 94.6739L1686.5 92.6394L1674.07 90.9135L1661.48 89.4937L1648.75 88.3766L1635.9 87.5589L1622.94 87.0365L1609.87 86.805L1596.72 86.8596L1583.49 87.1952L1570.2 87.8063L1556.86 88.6873L1543.49 89.8319L1530.08 91.2339L1516.66 92.8869L1503.23 94.784L1489.81 96.9183L1476.4 99.2829L1463.02 101.871L1449.67 104.674L1436.36 107.686L1423.11 110.899L1409.92 114.306L1396.79 117.899L1383.75 121.671L1370.78 125.614L1357.91 129.721L1345.13 133.984L1332.45 138.396L1319.88 142.949L1307.43 147.636L1295.09 152.449L1282.88 157.38L1270.79 162.424L1258.83 167.572L1247.01 172.817L1235.32 178.152L1223.78 183.57L1212.37 189.065L1201.12 194.629L1190 200.255L1179.04 205.937L1168.22 211.666L1157.56 217.434L1147.05 223.233L1136.69 229.055L1126.48 234.889L1116.42 240.727L1106.52 246.559L1096.77 252.374L1087.16 258.161L1077.7 263.911L1068.39 269.612L1059.22 275.252L1050.19 280.821L1041.29 286.307L1032.52 291.698L1023.87 296.981L1015.35 302.145L1006.93 307.178L998.617 312.066L990.402 316.798L982.274 321.36L974.224 325.74L966.243 329.927L958.319 333.908L950.441 337.674L942.599 341.216L934.779 344.527L926.969 347.599L919.157 350.428L911.33 353.01L903.475 355.341L895.579 357.421L887.629 359.25L879.613 360.828L871.518 362.158L863.331 363.246L855.043 364.095L846.641 364.713L838.115 365.108L829.456 365.288L820.653 365.266L811.7 365.051L802.589 364.657L793.313 364.097L783.867 363.386L774.247 362.539L764.45 361.573L754.474 360.505L744.319 359.353L733.984 358.134L723.472 356.869L712.785 355.575L701.929 354.273L690.909 352.983L679.732 351.725L668.406 350.518L656.942 349.383L645.35 348.34L633.642 347.409L621.832 346.608L609.934 345.958L597.965 345.476L585.94 345.18L573.877 345.089L561.796 345.217L549.715 345.582L537.655 346.197L525.635 347.076L513.679 348.233L501.806 349.678L490.039 351.422L478.401 353.474L466.913 355.842L455.598 358.533L444.477 361.551L433.572 364.901L422.905 368.585L412.496 372.604L402.366 376.958L392.533 381.646L383.016 386.663L373.832 392.006L364.998 397.67L356.53 403.647L348.44 409.929L340.742 416.508L333.447 423.373L326.564 430.513L320.102 437.916L314.067 445.568L308.463 453.455L303.294 461.564L298.561 469.877L294.263 478.381L290.397 487.057L286.96 495.889L283.945 504.86L281.344 513.953L279.147 523.15L277.343 532.434L275.92 541.787L274.863 551.193L274.155 560.636L273.781 570.097L273.72 579.563L273.954 589.017L274.46 598.444L275.218 607.832L276.204 617.165L277.395 626.432L278.766 635.622L280.293 644.723L281.951 653.726L283.716 662.623L285.562 671.405L287.464 680.067L289.401 688.603L291.347 697.009L293.282 705.282L295.185 713.42L297.035 721.422L298.816 729.289L300.51 737.021L302.098 744.621L303.564 752.089L304.894 759.429L306.069 766.645L307.078 773.74L307.905 780.719L308.538 787.587L308.966 794.351L309.177 801.015L309.163 807.587L308.916 814.073L308.428 820.481L307.694 826.819L306.71 833.094L305.473 839.315L303.982 845.489L302.237 851.625L300.239 857.731L297.992 863.815L295.5 869.886L292.768 875.952L289.804 882.021L286.615 888.099L283.213 894.196L279.609 900.317L275.813 906.469L271.842 912.66L267.708 918.893L263.429 925.176L259.021 931.511L254.503 937.904L249.893 944.359L245.211 950.877L240.479 957.461L235.716 964.113L230.946 970.833L226.191 977.621L221.472 984.478L216.814 991.401L212.238 998.388L207.769 1005.44L203.429 1012.54L199.241 1019.7L195.228 1026.91L191.411 1034.16L187.812 1041.45L184.453 1048.77L181.351 1056.11L178.528 1063.47L176 1070.83L173.785 1078.2L171.9 1085.55L170.357 1092.88L169.17 1100.18L168.352 1107.44L167.912 1114.65L167.859 1121.81L168.2 1128.9L168.941 1135.9L170.086 1142.83Z" fill="url(#paint0_linear_85_372)"/>

<g filter="url(#filter20_f_85_372)">
<path class="first" d="M1499 1415.98L1479 1416.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter21_f_85_372)">
<path class="second" d="M1489 1427V1407" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter22_f_85_372)">
<path d="M1551 1347.98L1531 1348.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter23_f_85_372)">
<path d="M1541 1359V1339" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter24_f_85_372)">
<path class="first" d="M1403 1453.98L1383 1454.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter25_f_85_372)">
<path class="second" d="M1393 1465V1445" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter28_f_85_372)">
<path d="M1439 1395.98L1419 1396.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter29_f_85_372)">
<path d="M1429 1407V1387" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter30_f_85_372)">
<path d="M1287 1458.98L1267 1459.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter31_f_85_372)">
<path d="M1277 1470V1450" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter32_f_85_372)">
<path class="first" d="M1215 1452.98L1195 1453.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter33_f_85_372)">
<path class="second" d="M1205 1464V1444" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter34_f_85_372)">
<path class="first" d="M1710 222.976L1700 223" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter35_f_85_372)">
<path class="second" d="M1705 228V218" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter36_f_85_372)">
<path class="first" d="M1353 180.976L1343 181" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter37_f_85_372)">
<path class="second" d="M1348 186V176" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter38_f_85_372)">
<path class="fist" d="M1239 290.976L1229 291" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter39_f_85_372)">
<path class="second" d="M1234 296V286" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter40_f_85_372)">
<path d="M1397 277.976L1387 278" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter41_f_85_372)">
<path d="M1392 283V273" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter42_f_85_372)">
<path class="first" d="M1188 277.976L1178 278" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter43_f_85_372)">
<path class="second" d="M1183 283V273" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter44_f_85_372)">
<path d="M1659 137.976L1649 138" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter45_f_85_372)">
<path d="M1654 143V133" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter46_f_85_372)">
<path class="first" d="M1877 365.976L1867 366" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter47_f_85_372)">
<path class="second" d="M1872 371V361" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter48_f_85_372)">
<path d="M1877 397.976L1867 398" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter49_f_85_372)">
<path d="M1872 403V393" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter50_f_85_372)">
<path d="M1882 277.976L1872 278" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter51_f_85_372)">
<path d="M1877 283V273" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter52_f_85_372)">
<path class="first" d="M1814 448.976L1804 449" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter53_f_85_372)">
<path class="second" d="M1809 454V444" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter54_f_85_372)">
<path d="M1684 232.976L1674 233" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter55_f_85_372)">
<path d="M1679 238V228" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter56_f_85_372)">
<path d="M1760 267.976L1750 268" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter57_f_85_372)">
<path d="M1755 273V263" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter58_f_85_372)">
<path class="first" d="M1730 256.976L1710 257.024" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter59_f_85_372)">
<path class="second" d="M1720 268V248" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter60_f_85_372)">
<path class="first" d="M1407 161.976L1387 162.024" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter61_f_85_372)">
<path class="second" d="M1397 173V153" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter62_f_85_372)">
<path class="first"d="M1467 251.976L1447 252.024" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter63_f_85_372)">
<path class="second" d="M1457 263V243" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter64_f_85_372)">
<path d="M1306 215.976L1286 216.024" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter65_f_85_372)">
<path d="M1296 227V207" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter66_f_85_372)">
<path class="first" d="M1249 245.976L1229 246.024" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter67_f_85_372)">
<path class="second" d="M1239 257V237" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter68_f_85_372)">
<path d="M1286 265.976L1266 266.024" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter69_f_85_372)">
<path d="M1276 277V257" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter72_f_85_372)">
<path class="first" d="M301 1038.98L281 1039.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter73_f_85_372)">
<path class="second" d="M291 1050V1030" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter74_f_85_372)">
<path class="first" d="M237 1161.98L217 1162.02" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter75_f_85_372)">
<path class="second" d="M227 1173V1153" stroke="#F4C849" stroke-width="5"/>
</g>
<g filter="url(#filter76_f_85_372)">
<path class="first" d="M1790 236.976L1760 237.024" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter77_f_85_372)">
<path class="second" d="M1775 253V223" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter78_f_85_372)">
<path class="first" d="M1760 299.976L1730 300.024" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter79_f_85_372)">
<path class="second" d="M1745 316V286" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter80_f_85_372)">
<path class="first" d="M1467 184.976L1437 185.024" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter81_f_85_372)">
<path class="second" d="M1452 201V171" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter82_f_85_372)">
<path d="M1407 220.976L1377 221.024" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter83_f_85_372)">
<path d="M1392 237V207" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter84_f_85_372)">
<path d="M1506 146.976L1476 147.024" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter85_f_85_372)">
<path d="M1491 163V133" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter88_f_85_372)">
<path class="first" d="M316 1211.98L286 1212.02" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter89_f_85_372)">
<path class="second" d="M301 1228V1198" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter92_f_85_372)">
<path d="M331 1160.98L301 1161.02" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter93_f_85_372)">
<path d="M316 1177V1147" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter94_f_85_372)">
<path d="M1694 1358.98L1684 1359" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter95_f_85_372)">
<path d="M1689 1364V1354" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter96_f_85_372)">
<path class="first" d="M1652 1358.98L1642 1359" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter97_f_85_372)">
<path class="second" d="M1647 1364V1354" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter100_f_85_372)">
<path class="first" d="M1546 1454.98L1536 1455" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter101_f_85_372)">
<path class="second" d="M1541 1460V1450" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter104_f_85_372)">
<path d="M1494 1464.98L1484 1465" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter105_f_85_372)">
<path d="M1489 1470V1460" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter106_f_85_372)">
<path d="M1613 1363.98L1603 1364" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter107_f_85_372)">
<path d="M1608 1369V1359" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter110_f_85_372)">
<path class="first" d="M262 1204.98L252 1205" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter111_f_85_372)">
<path class="second" d="M257 1210V1200" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter112_f_85_372)">
<path class="first" d="M282 1121.98L272 1122" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter113_f_85_372)">
<path class="second" d="M277 1127V1117" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter114_f_85_372)">
<path class="first" d="M227 1043.98L217 1044" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter115_f_85_372)">
<path class="second" d="M222 1049V1039" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter116_f_85_372)">
<path d="M200 1126.98L190 1127" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter117_f_85_372)">
<path d="M195 1132V1122" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter118_f_85_372)">
<path d="M227 1131.98L217 1132" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter119_f_85_372)">
<path d="M222 1137V1127" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter126_f_85_372)">
<path d="M257 999.976L247 1000" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter127_f_85_372)">
<path d="M252 1005V995" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter128_f_85_372)">
<path d="M316 1091.98L306 1092" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter129_f_85_372)">
<path d="M311 1097V1087" stroke="#F4C849" stroke-width="3"/>
</g>
<g filter="url(#filter134_f_85_372)">
<path d="M252 1095.98L222 1096.02" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter135_f_85_372)">
<path d="M237 1112L237 1082" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>

<g filter="url(#filter136_f_85_372)">
<path d="M301 970.976L271 971.024" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>
<g filter="url(#filter137_f_85_372)">
<path d="M286 987V957" stroke="#F6D26A" stroke-opacity="0.7" stroke-width="5"/>
</g>

<defs>
<filter id="filter0_f_85_372" x="465.998" y="1192.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter1_f_85_372" x="469.5" y="1189" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter2_f_85_372" x="541.998" y="1227.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter3_f_85_372" x="545.5" y="1224" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter4_f_85_372" x="465.998" y="1192.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter5_f_85_372" x="469.5" y="1189" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter6_f_85_372" x="541.998" y="1227.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter7_f_85_372" x="545.5" y="1224" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter8_f_85_372" x="247.998" y="1129.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter9_f_85_372" x="251.5" y="1126" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter10_f_85_372" x="195.998" y="1111.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter11_f_85_372" x="199.5" y="1108" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter12_f_85_372" x="257.998" y="994.476" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter13_f_85_372" x="261.5" y="991" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter14_f_85_372" x="498.997" y="1240.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter15_f_85_372" x="506.5" y="1234" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter16_f_85_372" x="450.997" y="1235.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter17_f_85_372" x="458.5" y="1229" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter18_f_85_372" x="508.997" y="1195.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter19_f_85_372" x="516.5" y="1189" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter20_f_85_372" x="1475" y="1409.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter21_f_85_372" x="1482.5" y="1403" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter22_f_85_372" x="1527" y="1341.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter23_f_85_372" x="1534.5" y="1335" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter24_f_85_372" x="1379" y="1447.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter25_f_85_372" x="1386.5" y="1441" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter26_f_85_372" x="1653" y="1221.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter27_f_85_372" x="1660.5" y="1215" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter28_f_85_372" x="1415" y="1389.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter29_f_85_372" x="1422.5" y="1383" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter30_f_85_372" x="1263" y="1452.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter31_f_85_372" x="1270.5" y="1446" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter32_f_85_372" x="1191" y="1446.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter33_f_85_372" x="1198.5" y="1440" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter34_f_85_372" x="1696" y="217.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter35_f_85_372" x="1699.5" y="214" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter36_f_85_372" x="1339" y="175.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter37_f_85_372" x="1342.5" y="172" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter38_f_85_372" x="1225" y="285.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter39_f_85_372" x="1228.5" y="282" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter40_f_85_372" x="1383" y="272.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter41_f_85_372" x="1386.5" y="269" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter42_f_85_372" x="1174" y="272.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter43_f_85_372" x="1177.5" y="269" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter44_f_85_372" x="1645" y="132.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter45_f_85_372" x="1648.5" y="129" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter46_f_85_372" x="1863" y="360.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter47_f_85_372" x="1866.5" y="357" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter48_f_85_372" x="1863" y="392.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter49_f_85_372" x="1866.5" y="389" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter50_f_85_372" x="1868" y="272.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter51_f_85_372" x="1871.5" y="269" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter52_f_85_372" x="1800" y="443.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter53_f_85_372" x="1803.5" y="440" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter54_f_85_372" x="1670" y="227.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter55_f_85_372" x="1673.5" y="224" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter56_f_85_372" x="1746" y="262.476" width="18.0032" height="11.0242" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter57_f_85_372" x="1749.5" y="259" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter58_f_85_372" x="1706" y="250.476" width="28.0054" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter59_f_85_372" x="1713.5" y="244" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter60_f_85_372" x="1383" y="155.476" width="28.0054" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter61_f_85_372" x="1390.5" y="149" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter62_f_85_372" x="1443" y="245.476" width="28.0054" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter63_f_85_372" x="1450.5" y="239" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter64_f_85_372" x="1282" y="209.476" width="28.0054" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter65_f_85_372" x="1289.5" y="203" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter66_f_85_372" x="1225" y="239.476" width="28.0054" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter67_f_85_372" x="1232.5" y="233" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter68_f_85_372" x="1262" y="259.476" width="28.0054" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter69_f_85_372" x="1269.5" y="253" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter70_f_85_372" x="556.997" y="1292.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter71_f_85_372" x="564.5" y="1286" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter72_f_85_372" x="276.997" y="1032.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter73_f_85_372" x="284.5" y="1026" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter74_f_85_372" x="212.997" y="1155.48" width="28.0054" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter75_f_85_372" x="220.5" y="1149" width="13" height="28" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter76_f_85_372" x="1756" y="230.476" width="38.008" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter77_f_85_372" x="1768.5" y="219" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter78_f_85_372" x="1726" y="293.476" width="38.008" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter79_f_85_372" x="1738.5" y="282" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter80_f_85_372" x="1433" y="178.476" width="38.008" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter81_f_85_372" x="1445.5" y="167" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter82_f_85_372" x="1373" y="214.476" width="38.008" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter83_f_85_372" x="1385.5" y="203" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter84_f_85_372" x="1472" y="140.476" width="38.008" height="13.0481" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter85_f_85_372" x="1484.5" y="129" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter86_f_85_372" x="556.996" y="1207.48" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter87_f_85_372" x="569.5" y="1196" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter88_f_85_372" x="281.996" y="1205.48" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter89_f_85_372" x="294.5" y="1194" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter90_f_85_372" x="324.996" y="1219.48" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter91_f_85_372" x="337.5" y="1208" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter92_f_85_372" x="296.996" y="1154.48" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter93_f_85_372" x="309.5" y="1143" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter94_f_85_372" x="1680" y="1353.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter95_f_85_372" x="1683.5" y="1350" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter96_f_85_372" x="1638" y="1353.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter97_f_85_372" x="1641.5" y="1350" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter98_f_85_372" x="1638" y="1421.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter99_f_85_372" x="1641.5" y="1418" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter100_f_85_372" x="1532" y="1449.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter101_f_85_372" x="1535.5" y="1446" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter102_f_85_372" x="1680" y="1286.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter103_f_85_372" x="1683.5" y="1283" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter104_f_85_372" x="1480" y="1459.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter105_f_85_372" x="1483.5" y="1456" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter106_f_85_372" x="1599" y="1358.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter107_f_85_372" x="1602.5" y="1355" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter108_f_85_372" x="470.998" y="1293.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter109_f_85_372" x="474.5" y="1290" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter110_f_85_372" x="247.998" y="1199.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter111_f_85_372" x="251.5" y="1196" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter112_f_85_372" x="267.998" y="1116.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter113_f_85_372" x="271.5" y="1113" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter114_f_85_372" x="212.998" y="1038.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter115_f_85_372" x="216.5" y="1035" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter116_f_85_372" x="185.998" y="1121.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter117_f_85_372" x="189.5" y="1118" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter118_f_85_372" x="212.998" y="1126.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter119_f_85_372" x="216.5" y="1123" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter120_f_85_372" x="397.998" y="1279.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter121_f_85_372" x="401.5" y="1276" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter122_f_85_372" x="513.998" y="1274.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter123_f_85_372" x="517.5" y="1271" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter124_f_85_372" x="503.998" y="1227.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter125_f_85_372" x="507.5" y="1224" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter126_f_85_372" x="242.998" y="994.476" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter127_f_85_372" x="246.5" y="991" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter128_f_85_372" x="301.998" y="1086.48" width="18.0032" height="11.0239" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter129_f_85_372" x="305.5" y="1083" width="11" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter130_f_85_372" x="407.996" y="1205.48" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter131_f_85_372" x="420.5" y="1194" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter132_f_85_372" x="354.996" y="1170.48" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter133_f_85_372" x="367.5" y="1159" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter134_f_85_372" x="217.996" y="1089.48" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter135_f_85_372" x="230.5" y="1078" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter136_f_85_372" x="266.996" y="964.476" width="38.008" height="13.0483" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<filter id="filter137_f_85_372" x="279.5" y="953" width="13" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_85_372"/>
</filter>
<linearGradient id="paint0_linear_85_372" x1="2202.9" y1="654.582" x2="521.984" y2="1530.34" gradientUnits="userSpaceOnUse">
<stop offset="0.401042" stop-color="#3868A3"/>
<stop offset="1" stop-color="#08346A"/>
</linearGradient>
</defs>
     </svg>
       <div class="aboutme rounded-md border-solid p-10 bg-white flex wrap absolute right-0 mr-28 mt-40">
     <p class="font-display"> As a highly motivated and detail-oriented junior full-stack developer, I am dedicated to creating innovative solutions that drive business success. With five years of experience in retail and people management, I thrive in high-pressure environments and am committed to delivering exceptional results.
     Out of more than 1000 applicants, I was selected to participate in the School of Code's intensive 16-week full-stack software development bootcamp. During the program, I gained valuable hands-on experience in front-end development using HTML, CSS, JavaScript, and React. Additionally, I gained proficiency in back-end development with technologies like Node and Express. Through the bootcamp, I learned to work with RESTful APIs and gained practical experience in storing and retrieving data from databases. Furthermore, I gained familiarity with testing and used tools such as Jest and Cypress to ensure the quality of my code.
     </p>

   



       <div class="justify-center flex mb-3 mt-3 items-center absolute containermid">
           <a href="#projects" class="absolute rotate-90 transition-transform transform hover:scale-105"> <iconify-icon icon="material-symbols:double-arrow" style="color: #4c77ab;"width="100" height="100"> </iconify-icon> </a>
        </div>

      




</section>










<style>

.aboutme {
     width: 42%;
     height: 52%;
}

.gtkm {
    width: 30%;
    height: 20%;
    justify-content: center;
    margin-left: 14%;
}

 .containermid {
        margin-top: 70%;
        margin-right: 10%;
        
    }

.socials {
margin-top: 45%;
 margin-right: 25%;

}

.first {
  animation: twinkle 1s infinite;
}

.second {
  aimation: twinkle 2s infinite;
}

@keyframes twinkle {
  0% {
    stroke: #F6D26A;
  }
  50% {
    stroke: #F6D26A20;
  }
  100% {
    stroke: #F4C849;
  }

}


</style>