

<section id="about" class="h-auto w-auto flex flex-col mt-10 lg:mt-40">
  
   <div class="font-display lg:text-5xl md:text-3xl text-xl mt-20 text-center">
     <h1 class=lines> GET <span class="lines decoration-solid decoration-mainyellow underline"> TO KNOW ME </span> </h1> </div>


  <div class="aboutmecon flex lg:flex-row flex-col justify-center mt-12 bg-mainyellow rounded-2xl mx-5 md:mx-5">

    <div class="flex justify-center items-center m-5 lg:w-[25%] bg-white rounded-2xl"> 
      <div class="large flex lg:flex-col md:gap-10 lg:gap-16 md:p-3">
              <a href="#contact">
               <iconify-icon icon="mdi:email-outline" style="color: #ff4550;"width="90" height="90" class="transition-transform transform hover:scale-105 w-auto h-auto"></iconify-icon></a>


                <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:github" style="color: #24292d;" width="90" height="90" class="transition-transform transform hover:scale-105 w-auto h-auto"></iconify-icon> </a>
               <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:linkedin" style="color: #0077B5;" width="90" height="90" class="transition-transform transform hover:scale-105"></iconify-icon> </a>  
              
      </div>
      <div class="small flex gap-5">
               <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:github" style="color: #24292d;" width="50" height="50" class="transition-transform transform hover:scale-105 w-auto h-auto mt-2"></iconify-icon> </a>
               <iconify-icon icon="mdi:email-outline" style="color: #ff4550;"width="60" height="60" class="transition-transform transform hover:scale-105 mt-1"></iconify-icon>
               <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:linkedin" style="color: #0077B5;" width="50" height="50" class="transition-transform transform hover:scale-105 mt-2"></iconify-icon> </a>  
              
      </div>
   </div>

    <div class="m-5 lg:w-[50%] bg-white rounded-2xl transition-transform transform hover:scale-105"> 
        <p class="lg:text-2xl md:text-xl text-md p-7 font-display"> As a highly motivated and detail-oriented junior full-stack developer, I am dedicated to creating innovative solutions that drive business success. With five years of experience in retail and people management, I thrive in high-pressure environments and am committed to delivering exceptional results.
        Out of more than 1000 applicants, I was selected to participate in the School of Code's intensive 16-week full-stack software development bootcamp. During the program, I gained valuable hands-on experience in front-end development using HTML, CSS, JavaScript, and React. Additionally, I gained proficiency in back-end development with technologies like Node and Express. Through the bootcamp, I learned to work with RESTful APIs and gained practical experience in storing and retrieving data from databases. Furthermore, I gained familiarity with testing and used tools such as Jest and Cypress to ensure the quality of my code. 
        </p> 
      </div>



    <div class=" m-5 lg:w-[25%] bg-white rounded-2xl">

      <div class="mt-5 flex flex-row justify-center gap-4">
          <iconify-icon icon="devicon:html5-wordmark" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="logos:css-3" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="vscode-icons:file-type-js-official" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="devicon:html5-wordmark" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="logos:css-3" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="vscode-icons:file-type-js-official" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
       </div>
      <div class="mt-5 flex flex-row justify-center gap-4">  
        <iconify-icon icon="devicon:react" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:nodejs" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:mongodb-wordmark" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
         <iconify-icon icon="devicon:react" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:nodejs" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:mongodb-wordmark" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
      </div>
      <div class="flex flex-row justify-center mt-5 gap-4">
      <iconify-icon icon="simple-icons:express" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="logos:figma" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="vscode-icons:file-type-light-next" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="simple-icons:express" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="logos:figma" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="vscode-icons:file-type-light-next" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
      </div>
      <div class="mt-5 flex flex-row justify-center gap-4 mb-5">
        <iconify-icon icon="vscode-icons:file-type-jest-snapshot" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:astro-icon" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:tailwindcss" width="100" height="100" class="large transition-transform transform hover:scale-105"></iconify-icon>
         <iconify-icon icon="vscode-icons:file-type-jest-snapshot" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:astro-icon" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:tailwindcss" width="80" height="80" class="small transition-transform transform hover:scale-105"></iconify-icon>
      </div>
     </div>
 
  </div>

  
  
  
  
  
  
  </div>



</section> 


<style>



  @media screen and (max-width: 600px) {

.large {
display: none;
}
  }

 @media screen and (min-width: 601px) and (max-width: 1024px) {
.small {
  display: none;
}

 }


 @media screen and (min-width: 1024px) and (max-width: 2000px) {

.small {
  display: none;
}

  }



</style>