

<section id="about" class="h-auto w-auto flex flex-col lg:mt-14">
    
   <div class="font-display lg:text-5xl md:text-3xl text-2xl mt-20 text-center">
     <h1 class=lines> GET <span class="lines lg:decoration-8 decoration-4 decoration-solid decoration-[#DA4418] underline underline-offset-8"> TO KNOW ME </span> </h1> </div>


  <div class="aboutmecon flex lg:flex-row flex-col justify-center mt-12 rounded-2xl mx-5 md:mx-5 bg-[#DA4418]">

    <div class="aboutmebox flex justify-center items-center m-5 lg:w-[25%] bg-white solid border-4 rounded-2xl border-[#DA4418]"> 
      <div class="large flex lg:flex-col md:gap-10 lg:gap-16 md:p-3">
              
        <a href='mailto:marwa.dawood@hotmail.com' target="_blank" rel="noreferrer">
               <iconify-icon icon="mdi:email-outline" style="color: #ff4550;"width="90" height="90" class="transition-transform transform hover:scale-105 w-auto h-auto"></iconify-icon></a>


                <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer""> <iconify-icon icon="bi:github" style="color: #24292d;" width="90" height="90" class="transition-transform transform hover:scale-105 w-auto h-auto"></iconify-icon> </a>
               <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer" aria-label="go to linkedin profile"> <iconify-icon icon="bi:linkedin" style="color: #0077B5;" width="90" height="90" class="transition-transform transform hover:scale-105"></iconify-icon> </a>  
              
      </div>
      <div class="small flex gap-5">
               <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer" aria-label="go to github account"> <iconify-icon icon="bi:github" style="color: #24292d;" width="50" height="50" class="transition-transform transform hover:scale-105 w-auto h-auto mt-2"></iconify-icon> </a>
               <a href='mailto:marwa.dawood@hotmail.com' target="_blank" rel="noreferrer">
               <iconify-icon icon="mdi:email-outline" style="color: #ff4550;"width="60" height="60" class="transition-transform transform hover:scale-105 mt-1"></iconify-icon> </a>

               <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer" aria-label="go to github account"> <iconify-icon icon="bi:linkedin" style="color: #0077B5;" width="50" height="50" class="transition-transform transform hover:scale-105 mt-2"></iconify-icon> </a>  
              
      </div>
   </div>

    <div class="m-5 lg:w-[50%] bg-white rounded-2xl transition-transform transform hover:scale-105 solid border-4 border-[#DA4418] aboutmebox"> 
        <p class="lg:text-lg md:text-lg text-md p-7 lg:p-10 font-display"> As a highly motivated and detail-oriented junior full-stack developer, I am dedicated to creating innovative solutions that drive business success. With five years of experience in retail and people management, I thrive in high-pressure environments and am committed to delivering exceptional results.
        Out of more than 1000 applicants, I was selected to participate in the School of Code's intensive 16-week full-stack software development bootcamp. During the program, I gained valuable hands-on experience in front-end development using HTML, CSS, JavaScript, and React. Additionally, I gained proficiency in back-end development with technologies like Node and Express. Through the bootcamp, I learned to work with RESTful APIs and gained practical experience in storing and retrieving data from databases. Furthermore, I gained familiarity with testing and used tools such as Jest and Cypress to ensure the quality of my code. 
        </p> 
      </div>



    <div class="m-5 lg:m-5 lg:mt-5 lg:w-[25%] bg-white rounded-2xl solid border-4 border-[#DA4418] aboutmebox">

      <div class="mt-5 lg:mt-10 flex flex-row justify-center gap-4 lg:m-8">
          <iconify-icon icon="devicon:html5-wordmark" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="logos:css-3" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="vscode-icons:file-type-js-official" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="devicon:html5-wordmark" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="logos:css-3" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
          <iconify-icon icon="vscode-icons:file-type-js-official" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
       </div>
      <div class="mt-5 flex flex-row justify-center gap-4">  
        <iconify-icon icon="devicon:react" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:nodejs" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:mongodb-wordmark" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
         <iconify-icon icon="devicon:react" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:nodejs" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:mongodb-wordmark" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
      </div>
      <div class="flex flex-row justify-center mt-5 gap-4">
      <iconify-icon icon="simple-icons:express" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="logos:figma" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="vscode-icons:file-type-light-next" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="simple-icons:express" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="logos:figma" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
      <iconify-icon icon="vscode-icons:file-type-light-next" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
      </div>
      <div class="mt-5 flex flex-row justify-center gap-4 mb-5">
        <iconify-icon icon="vscode-icons:file-type-jest-snapshot" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:astro-icon" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:tailwindcss" width="90" height="90" class="large transition-transform transform hover:scale-105"></iconify-icon>
         <iconify-icon icon="vscode-icons:file-type-jest-snapshot" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="logos:astro-icon" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
        <iconify-icon icon="devicon:tailwindcss" width="70" height="70" class="small transition-transform transform hover:scale-105"></iconify-icon>
      </div>
     </div>
 
  </div>

  
  
  
  
  
  
  </div>



</section> 


<style>



  @media screen and (max-width: 600px) {

.large {
display: none;
}
  }

 @media screen and (min-width: 601px) and (max-width: 1024px) {
.small {
  display: none;
}

 }


 @media screen and (min-width: 1025px) {

.small {
  display: none;
}

  }



</style>