---
import CV from "../../../public/cv.pdf"
---

<section id="#" class="h-auto w-auto flex flex-col"> 





  
<div>
    <a href='#''> <img src="/logo2.png" alt="logo" class="md:w-14 w-10 lg:w-28 fixed flex ml-5 top-5"/> </a> 
  </div>


<div class="bubblecontainer">
<div class="bubbles">

    <span style="--i:0;"> </span>
    <span style="--i:10;"> </span>
    <span style="--i:21;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:21;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:22;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:19;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:22;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:18;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:19;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:27;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:29;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:18;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:25;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:29;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:29;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:25;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:21;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:22;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
     <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:18;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:25;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:12;"> </span>
 
  
    
   
   
     </div>

<div class="bubblestwo">

    <span style="--i:0;"> </span>
    <span style="--i:10;"> </span>
    <span style="--i:21;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:29;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:19;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:29;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:19;"> </span>
    <span style="--i:0;"> </span>
     <span style="--i:0;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:19;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
  
  </div>

<div class="bubblesthree">

    <span style="--i:0;"> </span>
    <span style="--i:10;"> </span>
    <span style="--i:21;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
     <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:29;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:19;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:29;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:19;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:26;"> </span>
     <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:26;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:12;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:23;"> </span>
    <span style="--i:11;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:24;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:0;"> </span>
    <span style="--i:17;"> </span>
    <span style="--i:12;"> </span>
  






  </div>



   <div class="w-auto flex flex-col md:flex-row lg:flex-row items-center lg:justify-center lg:gap-10 gap-4 md:gap-12 lg:mt-40 mt-24 md:ml-16 md:mt-28">
  
                       
     <div class="lg:w-123 md:w-1/3 w-1/2 relative"> 
        <img src="/icon4.png" alt="logo"/>
           </div>


    <div class="lg:w-13 md:w-1/2 justify-center flex flex-col">

    <h1 class="text-center font-semibold leading-relaxed whitespace-nowrap lg:text-5xl md:text-3xl text-2xl font-display">
      Hi, I'm <span class="text-mainyellow"> Marwa </span>
      <br/>
      Junior Front-End Developer
      </h1>

          <div class="flex justify-center gap-5 mt-3">
             <a href={CV} class="font-display inline-block text-mainyellow cursor-pointer lg:text-lg md:text-lg font-semibold lg:px-7 px-5 lg:py-3 py-2 border-solid border-mainyellow border-[1.5px] rounded-lg  bg-white shadow-right-bottom transition-transform transform hover:scale-105" target="_blank" rel="noreferrer"> View CV </a>

             <a href="#contact" class="font-display inline-block text-white bg-mainyellow font-semibold lg:text-lg md:text-lg cursor-pointer lg:px-9 px-6 lg:py-3 py-2 border-solid border border-white rounded-lg shadow-sm  shadow-right-bottom transition-transform transform hover:scale-105"> Contact me </a>
           </div>
               <div class="justify-center flex mb-3 md:mr-10 mr-5">
                  <a href="#about" class="absolute rotate-90 transition-transform transform hover:scale-105"> <iconify-icon icon="material-symbols:double-arrow" style="color: #F6D26A;"width="100" height="100"> </iconify-icon> </a>
                </div>

              </div> 

   

            </div>


</section>




<style>
  
  .shadow-right-bottom {
    box-shadow: 3.5px 3.5px 0px rgba(128, 128, 128, 0.4);;
  }


.bubbles {
  display: flex;
  width: screen;
}

.bubbles span {
  position: relative;
  width: 5px;
  height: 5px;
  margin: 0 4px;
  border-radius: 50%;
  background: #F6D26A;
  box-shadow: 0 0 0 5px #F6D26A44,
  0 0 5px #F6D26A,
  0 0 5px #F6D26A;
  animation: animate 15s linear infinite;
  animation-duration: calc(100s / var(--i))

}



.first {
  animation: twinkle 1s infinite;
}

.second {
  aimation: twinkle 2s infinite;
}

.bubbles span:nth-child(even)
{
  background: #805DA3;
  box-shadow: 0 0 4px #805DA344,
  0 0 4px #805DA3,
  0 0 4px #805DA3;
}

.bubbles span:nth-child(3n)
{
  background: #08AC94;
  box-shadow: 0 0 4px #08AC9444,
  0 0 4px #08AC94,
  0 0 4px #08AC94;
}

.bubbles span:nth-child(4n)
{
  background: #BE1115;
  box-shadow: 0 0 4px #BE111544,
  0 0 4px #BE1115,
  0 0 4px #BE1115;
}

.bubbles span:nth-child(5n)
{
  background: #5F4225;
  box-shadow: 0 0 4px #5F422544,
  0 0 4px #5F4225,
  0 0 4px #5F4225;
}





@keyframes animate 
{
  0% 
  {
  transform: translateY(100vh) scale(0);
  }

  100% 
  {
    transform: translateY(-10vh) scale(1);
  }
}


@keyframes twinkle {
  0% {
    stroke: #F6D26A;
  }
  50% {
    stroke: #F6D26A20;
  }
  100% {
    stroke: #F4C849;
  }

}

/* small devices */

  @media screen and (max-width: 600px) {
  

.bubbles {
  display: none;
}

.bubblesthree {
  display: none;
}


.bubblestwo {
  display: flex;
  width: screen;
}

.bubblestwo span {
  position: relative;
  width: 2px;
  height: 2px;
  margin: 0 1px;
  border-radius: 20%;
  background: #F6D26A;
  box-shadow: 0 0 0 2px #F6D26A44,
  0 0 2px #F6D26A,
  0 0 2px #F6D26A;
  animation: animate 15s linear infinite;
  animation-duration: calc(100s / var(--i))

}


.bubblestwo span:nth-child(even)
{
  background: #805DA3;
  box-shadow: 0 0 4px #805DA344,
  0 0 2px #805DA3,
  0 0 2px #805DA3;
}

.bubblestwo span:nth-child(3n)
{
  background: #08AC94;
  box-shadow: 0 0 4px #08AC9444,
  0 0 2px #08AC94,
  0 0 2px #08AC94;
}

.bubblestwo span:nth-child(4n)
{
  background: #BE1115;
  box-shadow: 0 0 4px #BE111544,
  0 0 2px #BE1115,
  0 0 2px #BE1115;
}

.bubblestwo span:nth-child(5n)
{
  background: #5F4225;
  box-shadow: 0 0 4px #5F422544,
  0 0 2px #5F4225,
  0 0 2px #5F4225;
}


}

  

/* medium devices */

@media screen and (min-width: 601px) and (max-width: 1024px) {
 .bubbles span {
  width: 3px;
  height: 3px;
  margin: 0 2px;
  border-radius: 30%;
  background: #F6D26A;
  box-shadow: 0 0 0 3px #F6D26A44,
  0 0 3px #F6D26A,
  0 0 3px #F6D26A;

}

.bubbles {
  display: none;
}

.bubblestwo {
  display: none;
}


.bubblesthree {
  display: flex;
  width: screen;
}

.bubblesthree span {
  position: relative;
  width: 3px;
  height: 3px;
  margin: 0 2px;
  border-radius: 30%;
  background: #F6D26A;
  box-shadow: 0 0 0 3px #F6D26A44,
  0 0 3px #F6D26A,
  0 0 3px #F6D26A;
  animation: animate 15s linear infinite;
  animation-duration: calc(100s / var(--i))

}


.bubblesthree span:nth-child(even)
{
  background: #805DA3;
  box-shadow: 0 0 4px #805DA344,
  0 0 3px #805DA3,
  0 0 3px #805DA3;
}

.bubblesthree span:nth-child(3n)
{
  background: #08AC94;
  box-shadow: 0 0 4px #08AC9444,
  0 0 3px #08AC94,
  0 0 3px #08AC94;
}

.bubblesthree span:nth-child(4n)
{
  background: #BE1115;
  box-shadow: 0 0 4px #BE111544,
  0 0 3px #BE1115,
  0 0 3px #BE1115;
}

.bubblesthree span:nth-child(5n)
{
  background: #5F4225;
  box-shadow: 0 0 4px #5F422544,
  0 0 3px #5F4225,
  0 0 3px #5F4225;
}


}

</style>