---
import CV from "../../../public/cv.pdf"
---

<section id="#" class="h-auto w-auto flex"> 

<svg
        width="1500"
        fill="none"
        class="bg-slate-800"
        >
        <g filter="url(#filter13_f_79_293)">
        <path class="first" d="M1207 231.976L1187 232.024" stroke="#F6D26A" stroke-width="5"/></g>
        <g filter="url(#filter14_f_79_293)">
        <path class="second" d="M1197 243V223" stroke="#F6D26A" stroke-width="5"/></g>
       
      
  
    

</svg>




  
<div>
    <a href='#''> <img src="/logo2.png" alt="logo" class="md:w-14 w-10 lg:w-28 fixed flex ml-5 top-5"/> </a> 
  </div>


<div class="bubblecontainer">
<div class="bubbles">
   
     </div>
  </div>

  </div>



   <div class="w-full absolute flex flex-col md:flex-row lg:flex-row items-center lg:justify-center lg:gap-10 gap-4 md:gap-12 lg:mt-40 mt-24 md:ml-16 md:mt-28">
  
                       
     <div class="lg:w-123 md:w-1/3 w-1/2 relative"> 
        <img src="/icon4.png" alt="logo"/>
           </div>


    <div class="lg:w-13 md:w-1/2 justify-center flex flex-col">

    <h1 class="text-center font-semibold leading-relaxed whitespace-nowrap lg:text-5xl md:text-3xl text-2xl font-display">
      Hi, I'm <span class="text-mainyellow"> Marwa </span>
      <br/>
      Junior Front-End Developer
      </h1>

          <div class="flex justify-center gap-5 mt-3">
             <a href={CV} class="inline-block text-mainyellow cursor-pointer lg:text-lg md:text-lg font-semibold lg:px-7 px-5 lg:py-3 py-2 border-solid border-mainyellow border rounded-lg shadow-sm bg-white shadow-right-bottom transition-transform transform hover:scale-105" target="_blank" rel="noreferrer"> View CV </a>

             <a href="#contact" class="inline-block text-white bg-mainyellow font-semibold lg:text-lg md:text-lg cursor-pointer lg:px-9 px-6 lg:py-3 py-2 border-solid border border-mainyellow rounded-lg shadow-sm  shadow-right-bottom transition-transform transform hover:scale-105"> Contact me! </a>
           </div>
               <div class="justify-center flex mb-3 md:mr-10 mr-5">
                  <a href="#about" class="absolute rotate-90 transition-transform transform hover:scale-105"> <iconify-icon icon="material-symbols:double-arrow" style="color: #F6D26A;"width="100" height="100"> </iconify-icon> </a>
                </div>

              </div> 

   

            </div>


</section>



<style>
  




svg {
  position: absolute;
  height: 100vh;
  
}

  .shadow-right-bottom {
    box-shadow: 4px 4px 6px rgba(2, 0, 30, 0.8);
  }


.bubblecontainer {
  overflow: hidden;
  height: 100vh;
  width: screen;
}


.bubbles {
  position: absolute;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 5px;
  height: 5px;
  margin: 0 4px;
  border-radius: 50%;
  background: #F6D26A;
  box-shadow: 0 0 0 5px #F6D26A44,
  0 0 5px #F6D26A,
  0 0 5px #F6D26A;
  animation: animate 15s linear infinite;
  animation-duration: calc(100s / var(--i))

}



.first {
  animation: twinkle 1s infinite;
}

.second {
  aimation: twinkle 2s infinite;
}

.bubbles span:nth-child(even)
{
  background: #F6D26A;
  box-shadow: 0 0 4px #F6D26A44,
  0 0 4px #F6D26A,
  0 0 4px #F6D26A;;
}

@keyframes animate 
{
  0% 
  {
  transform: translateY(100vh) scale(0);
  }

  100% 
  {
    transform: translateY(-10vh) scale(1);
  }
}


@keyframes twinkle {
  0% {
    stroke: #F6D26A;
  }
  50% {
    stroke: #F6D26A20;
  }
  100% {
    stroke: #F4C849;
  }

}

/* small devices */

  @media screen and (max-width: 600px) {
  
  .bubbles span {
  
  width: 2px;
  height: 2px;
  margin: 0 1px;
  border-radius: 20%;
  box-shadow: 0 0 0 2px #F6D26A44,
  0 0 2px #F6D26A,
  0 0 2px #F6D26A;
 

}

  

}

/* medium devices */

@media screen and (max-width: 1024px) {
 .bubbles span {
  width: 3px;
  height: 3px;
  margin: 0 2px;
  border-radius: 30%;
  background: #F6D26A;
  box-shadow: 0 0 0 3px #F6D26A44,
  0 0 3px #F6D26A,
  0 0 3px #F6D26A;
 

}


}


/*  <span style="--i:2;"> </span>
    <span style="--i:7;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:1;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:7;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:1;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:7;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:1;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:7;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:1;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:7;"> </span>
    <span style="--i:3;"> </span>
    <span style="--i:6;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:2;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:9;"> </span>
    <span style="--i:1;"> </span>
    <span style="--i:5;"> </span>
    <span style="--i:8;"> </span>
    <span style="--i:3;"> </span>
    */

  </style>






