---

---

<section id="footer" class="footer bottom-0 bg-white h-auto w-auto items-center justify-center px-2 text-center font-semibold lg:mt-32 mt-16">

    <div class="flex justify-center items">
        <div class="footerline w-[80%] h-0.5 bg-slate-400 m-0">
        </div>
             </div>

    <a href='#''> <img src="/src/media/logo3.png" alt="logo" class="lg:w-24 w-16 inline-block mt-10"/> </a> 

  

    <div class="mt-10 flex justify-center">

    <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:linkedin" style="color: #8A7500;" width="50" height="50" class="large transition-transform transform lg:px-5 md:px-3 hover:scale-105"></iconify-icon> </a>

    <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:github" style="color: #8A7500;" width="50" height="50" class="large transition-transform transform hover:scale-105 lg:px-5 md:px-3"></iconify-icon> </a>


    <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:linkedin" style="color: #8A7500;" width="30" height="30" class="small px-3 transition-transform transform hover:scale-105"></iconify-icon> </a>

    <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:github" style="color: #8A7500;" width="30" height="30" class="small px-3 transition-transform transform hover:scale-105" aria-label="go to github account"></iconify-icon> </a>


</div>

<div class="end mt-5 mb-5 lg:text-lg">
<small>&copy; Marwa Dawood 2023. All rights reserved. </small>

</div>



</section>



<style>


  @media screen and (max-width: 600px) {

.large {
display: none;
}
  }

 @media screen and (min-width: 601px) and (max-width: 1024px) {
.small {
  display: none;
}

 }


 @media screen and (min-width: 1024px) and (max-width: 2000px) {

.small {
  display: none;
}

  }
    </style>
