---

---

<section id="footer" class="relative bottom-0 bg-white h-1/4 w-screen items-center justify-center px-2 text-center font-semibold mt-6">

    <div class="flex justify-center items">
        <div class="w-[80%] h-0.5 bg-slate-300 m-0">
        </div>
             </div>

    <a href='#''> <img src="/logo1.png" alt="logo" class="w-24 inline-block mt-10"/> </a> 

  

    <div class="mt-10 flex justify-center gap-10">
    <a href="https://www.linkedin.com/in/marwa-dawood/" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:linkedin" style="color: #4c77ab;" width="50" height="50" class="transition-transform transform hover:scale-105"></iconify-icon> </a>
    <a href="https://github.com/MarwaDawood" target="_blank" rel="noreferrer"> <iconify-icon icon="bi:github" style="color: #4c77ab;" width="50" height="50" class="transition-transform transform hover:scale-105"></iconify-icon> </a>
    <iconify-icon icon="mdi:email-outline" style="color: #4c77ab;" width="50" height="50" class="transition-transform transform hover:scale-105"></iconify-icon>

</div>

<div class="mt-5 mb-5">
<small>&copy; Marwa Dawood. All rights reserved. </small>

</div>



</section>