
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: font-display;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}


.container {
    margin: 0 auto;
    padding: 1rem;
}




/* small devices */

@media screen and (max-width: 600px)  {



.dark .bubbles span {
        display: none;
    }


    .dark .bubblestwo span {
        display: none;
    }

    .dark .bubblesthree span {
        display: none;
    }

.dark .darkbubblestwo {
    display: flex;
    width: screen;
}


.dark .darkbubbles span {
    display: none;
}

.dark .darkbubblestwo span {
    position: relative;
    width: 4px;
    height: 4px;
    margin: 0 1px;
    border-radius: 50%;
    background: #E8E163;
    box-shadow: 0 0 0 1px #E8E16344,
    0 0 1px #E8E163,
    0 0 1px #E8E163;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i))
}




.dark .darkbubblestwo span:nth-child(even) {
    background-color: #DB901C;
    box-shadow: 0 0 1px #DB901C44,
        0 0 1px #DB901C,
        0 0 1px #DB901C;
}

.dark .darkbubblestwo span:nth-child(3n) {
    background-color: #E0B95A;
    box-shadow: 0 0 1px #E0B95A44,
        0 0 1px #E0B95A,
        0 0 1px #E0B95A;
}


.dark .darkbubblestwo span:nth-child(4n) {
    background-color: #A39122;
    box-shadow: 0 0 1px #A3912244,
        0 0 1px #A39122,
        0 0 1px #A39122;
}

}

/* medium devices */

@media screen and (min-width: 601px) and (max-width: 1024px) {


.dark .bubbles span {
        display: none;
    }


    .dark .bubblestwo span {
        display: none;
    }

    .dark .bubblesthree span {
        display: none;
    }

.dark .darkbubbles span {
    display: none;
}

.dark .darkbubblestwo span {
    display: none;
}

.dark .darkbubblesthree {
    display: flex;
    width: screen;
}

.dark .darkbubblesthree span {
    position: relative;
        width: 8px;
        height: 8px;
        margin: 0 3px;
        border-radius: 50%;
        background: #E8E163;
        box-shadow: 0 0 0 3px #E8E16344,
        0 0 3px #E8E163,
        0 0 3px #E8E163;
        animation: animate 15s linear infinite;
        animation-duration: calc(200s / var(--i))
}

.dark .darkbubblesthree span:nth-child(even) {
    background: #DB901C;
    box-shadow: 0 0 3px #DB901C44,
        0 0 3px #DB901C,
        0 0 3px #DB901C;
}

.dark .darkbubblesthree span:nth-child(3n) {
    background: #E0B95A;
    box-shadow: 0 0 3px #E0B95A44,
        0 0 3px #E0B95A,
        0 0 3px #E0B95A;
}

.dark .darkbubblesthree span:nth-child(4n) {
    background: #A39122;
    box-shadow: 0 0 3px #A3912244,
        0 0 3px #A39122,
        0 0 3px #A39122;
}


}

.dark .footerlightlarge {
    display: none;
}

.dark .footerlightsmall {
    display: none;
}


.dark .bubbles span {
    display: none;
}


.dark .bubblestwo span {
    display: none;
}

.dark .bubblesthree span {
    display: none;
}


.dark .darkbubbles {
    display: flex;
    width: screen;
}

.dark .darkbubbles span {
    position: relative;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        border-radius: 50%;
        background-color: #E8E163;
        box-shadow: 0 0 0 4px #E8E16344,
        0 0 4px #E8E163,
        0 0 4px #E8E163;
        animation: animate 15s linear infinite;
        animation-duration: calc(200s / var(--i))

        
    }

.dark .darkbubbles span:nth-child(even){
background-color: #DB901C;
    box-shadow: 0 0 4px #DB901C44,
        0 0 4px #DB901C,
        0 0 4px #DB901C;


}

.dark .darkbubbles span:nth-child(3n) {
    background-color: #E0B95A;
    box-shadow: 0 0 4px #E0B95A44,
        0 0 4px #E0B95A,
        0 0 4px #E0B95A;
}


.dark .darkbubbles span:nth-child(4n) {
    background-color: #A39122;
    box-shadow: 0 0 4px #A3912244,
        0 0 4px #A39122,
        0 0 4px #A39122;
}




.dark .darkbubbles span {
    @keyframes animate {
            0% {
                transform: translateY(100vh) scale(0);
            }
    
            100% {
                transform: translateY(-10vh) scale(1);
            }
        }
}




.dark .marwa {
    color: #E8E163;
}   



.dark .hi {
    color: #DEDEDE;
}

.dark .cv {
border-color: #DEDEDE;
background-color: #DEDEDE;
color: black;
}

.dark .homeshades {
box-shadow: 5px 5px 5px rgba(5, 0, 40, 1);
}      
   

.dark .me {
    color: black;
    background-color: #DEDEDE;
    border-color: #DEDEDE;
}

.dark .lines {
    text-decoration-color:#E8E163;
    color: #DEDEDE;
}
 
.dark .aboutmecon {
    background-color: #173679;
}

.dark .aboutmebox {
    border-color: #DEDEDE;
    background-color: #DEDEDE;
}




.dark .proj {
    background: linear-gradient(to bottom, #C3D6E4, #173679);
    
}

.dark .proj h2 {
    color: #F5F5F5;
}

.dark .bg {
    background-color: #0B1E38;
    color: #DEDEDE;
}
   
.dark .probutton {
    background-color: #DEDEDE;
    border-color: #DEDEDE;
}



 .dark .contactme {
    border-color: #0B1E38;
    background-color: #F5F5F5; 
 }




.dark .sendme {
    border: #F5F5F5;
    background-color: #F5F5F5;   
    box-shadow: 5px 5px 5px rgba(5, 0, 40, 1);;
}


.dark .footerline {
    background-color: #E8E163;
}

.dark .end {
    color: #F5F5F5;
}


.dark .footer {
    background-color: #0B1E38;
}

