---
// sun <iconify-icon icon="solar:sun-bold-duotone" style="color: #e0b95a;"></iconify-icon> 
// email blue <iconify-icon icon="clarity:email-solid" style="color: #4c77ab;"></iconify-icon>
// email yellow <iconify-icon icon="clarity:email-solid" style="color: #e0b95a;"></iconify-icon>
// github yellow <iconify-icon icon="bi:github" style="color: #e0b95a;"></iconify-icon>
// github blue <iconify-icon icon="bi:github" style="color: #4c77ab;"></iconify-icon>
// linkedin blue <iconify-icon icon="mingcute:linkedin-fill" style="color: #4c77ab;"></iconify-icon>
// linkedin yellow <iconify-icon icon="mingcute:linkedin-fill" style="color: #e0b95a;"></iconify-icon>




---

<nav class="flex items-center text-3xl absolute justify-between w-auto top-2 right-5">
   

<ul class="list-none flex flex-r mt-5 left-5 font-display font-semibold">
    
    <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"><a href="#"> Home </a></li>

    <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"><a href="#about"> About </a></li>

    <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"><a href="#projects"> Projects </a></li>

    <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"><a href="#contact"> Contact </a></li>

    <iconify-icon icon="solar:moon-bold-duotone" class="pt-4 ml-3 pr-2 pb-0 pl-4"  style="color: #4c77ab" ></iconify-icon>
   

  



</ul>


</nav>


<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

