---
import ThemeIcon from "../components/ThemeIcon.astro"
import "../global.css"
---


<html lang="en">
    <head>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width" />
         <title>Marwa Dawood | Junior Full-Stack Developer</title>
         <link rel="icon" type="image/svg+xml" href="/icon1.png" />
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
    </head>
    <body>
       <nav class="absolute flex items-center sm:w-[25%] lg:w-[50%] top-3 md:top-4 lg:top-5 right-0 justify-end md:mr-4 mr-3 lg:mr-10 h-auto">

        <ul class="navlist list-none lg:gap-5 flex flex-row m-0 p-0 font-display font-semibold md:text-2xl lg:text-3xl">
          <li class="pt-3 pr-1 pb-0 pl-2 hover:text-mainyellow"> <a href="#"> Home </a></li>
          <li class="pt-3 pr-1 pb-0 pl-2 hover:text-mainyellow"> <a href="#about"> About </a></li>
          <li class="pt-3 pr-1 pb-0 pl-2 hover:text-mainyellow"> <a href="#projects"> Projects </a></li>
          <li class="pt-3 pr-1 pb-0 pl-2 hover:text-mainyellow"> <a href="#contact"> Contact </a></li>
            <ThemeIcon />
           
        
        </ul>
       </nav>


       <main>
         <slot />
       </main>
    </body>
</html>


<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js">

</script>


<style>
.dark body {
  background-color: #0B1E38;
}  

.dark ul {
  color: white;
}

.dark li:hover {
  color: #E8E163;
}


</style>