---

---


<html lang="en">
    <head>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width" />
         <title>Marwa Dawood | Junior Full-Stack Developer</title>
         <link rel="icon" type="image/svg+xml" href="/icon1.png" />
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
    </head>
    <body>
       <nav class="flex items-center text-3xl absolute justify-between w-auto top-2 right-5">
        <ul class="list-none flex flex-r mt-5 left-5 font-display font-semibold">
          <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"> <a href="#"> Home </a></li>
          <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"> <a href="#about"> About </a></li>
          <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"> <a href="#projects"> Projects </a></li>
          <li class="ml-5 pt-3 pr-2 pb-0 pl-4 hover:text-mainblue"> <a href="#contact"> Contact </a></li>
           <iconify-icon icon="solar:moon-bold-duotone" class="pt-4 ml-3 pr-2 pb-0 pl-4"  style="color: #4c77ab" ></iconify-icon>
        </ul>
       </nav>


       <main>
         <slot />
       </main>
    </body>
</html>


<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js">

</script>


<style>


body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

section {
    margin-top: 8rem;
    height: auto;

}


</style>